@import "tailwindcss";


@theme {
  --color-primary: #FF5733;
  --color-dark: #1f2937;
  --color-gray-text: #334155;
  --color-accent-blue: #0ea5e9;
  --color-accent-green: #10b981;

  --font-fraunces: var(--font-fraunces), serif;
  --font-inter: var(--font-inter), sans-serif;
  --breakpoint-md: 768px;
}

:root {
  --background: #ffffff;
  --foreground: #1f2937;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {

  button,
  [role="button"] {
    cursor: pointer;
  }
}